@font-face {
  font-family: homa;
  src: url(../assets/fonts/homa.ttf) format("truetype");
}

@font-face {
  font-family: yekan;
  src: url(../assets/fonts/yekan.ttf) format("truetype");
}

@font-face {
  font-family: dastnevis;
  src: url(../assets/fonts/dastnevis.ttf) format("truetype");
}

@font-face {
  font-family: vazir;
  src: url(../assets/fonts/vazir-fd.ttf) format("truetype");
}

@font-face {
  font-family: iransans;
  src: url(../assets/fonts/woff/IRANSansX-Regular.woff) format("woff");
  src: url(../assets/fonts/woff2/IRANSansX-Regular.woff2) format("woff2");
}

@font-face {
  font-family: material-icons;
  src: url(../assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
  src: url(../assets/fonts/MaterialIconsSharp-Regular.otf);

}

@font-face {
  font-family: NafunTechIcons;
  src: url(../assets/fonts/NafunTechIcons.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url(../assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: "inter";
  src: url(../assets/fonts/inter/Inter-Regular.ttf);
}
@font-face {
  font-family: "inter-bold";
  src: url(../assets/fonts/inter/Inter-Bold.ttf);
}

:root {
  --mui-action-btn-text: #fff;
  --mui-action-btn-background: linear-gradient(to right top, #67e8f9, #38bdf8);
  --mui-action-btn-background-hover: linear-gradient(to right top, #fff, #67e8f9);
}
@media (prefers-color-scheme: dark) {
  body {
    color: inherit !important;
    background: inherit !important;
  }
}
@media (max-width: 959px) {
  :root {
    --layout-padding: 1rem;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ede9fe;
  scroll-behavior: smooth;
  /*font-family: Poppins !important;*/
  font-family: Poppins, Sans-serif, serif;
}
#__next {
  width: 100%;
  height: 100%;
}
a.not_link {
  color: inherit;
  text-decoration: none;
}
input[type='search']:focus-visible{
  outline: none !important;
}
.autoSwiper .swiper-slide {
  width: fit-content;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

div.map_icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-family: "material-icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.fab {
  position: static;
}
.no_select {
  user-select: none;
}



/*  --------------------------------------------  */

/* CustomScrollbar */
.CustomScrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}

.CustomScrollbar::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background-color: #cccccc;
}
/* ------------------------------------------------------- */

/* sweet alert buttons */
.swal-footer {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pro-icon {
  font-size: 1.7em;
}

@supports (-webkit-line-clamp: 1) {
  .ellipsis {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@supports (-webkit-line-clamp: 2) {
  .ellipsis2 {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@supports (-webkit-line-clamp: 3) {
  .ellipsis3 {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
